<!DOCTYPE html>
<html>
<head>
  <title>Contacts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

</head>
<body>
<script type="text/template" id="contact-template">
	<h2><%%= firstName %> <%%= lastName %></h2>
	<p><%%=  gender %></p>
	<p><%%=  phone %></p>
</script>

<%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</body>
</html>
