<!DOCTYPE html>
<html>
<head>
  <title>Contacts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<script type="text/template" id="contact-template">
		<h2><%%= firstName %> <%%= lastName %></h2>
		<p><%%=  gender %></p>
		<p><%%=  phone %></p>
	</script>

<%= yield %>

  <h1>My Contacts</h1>
  <ul class="contacts"></ul>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
